# Coursera Applied Data Science: Course 4 Week3 Part1

NOTE TO MARKER

I have added the code below I would have used to collect from Web through BeautifulSoup - commented
Due to my company firewall, I am not able to do this, so I used the alternatie of read_csv

In [23]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

#url_to_scrape = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#r = requests.get(url_to_scrape)
#soup = BeautifulSoup(r.text)

In [25]:
#Create Dataframe

In [35]:
import pandas as pd
df = pd.read_csv('Wikipage.csv')
df.head(12)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
9       M8A      Not assigned      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge

Delete the values where Borough is not assigned

In [36]:
df1 = df['Borough'] != 'Not assigned'
df1.head()

0    False
1    False
2     True
3     True
4     True
Name: Borough, dtype: bool

In [37]:
df1 = df[df['Borough'] != 'Not assigned']
df1.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

Find all where Neighbourhood is assigned or not and recreate the ones that are not assigned

In [47]:
dfpop = df1[df1['Neighbourhood'] != 'Not assigned']
dfnot = df1[df1['Neighbourhood'] == 'Not assigned']

In [48]:
dfpop.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [49]:
dfnot

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

In [50]:
dfnot['Neighbourhood'] =='Queen\'s Park'

8    False
Name: Neighbourhood, dtype: bool

In [59]:
dfnow = dfnot.replace(to_replace ="Not assigned", 
                 value ="Queen\'s Park")

In [60]:
full = dfnow.append(dfpop)

In [61]:
full.head()

  Postcode           Borough     Neighbourhood
8      M7A      Queen's Park      Queen's Park
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park

Do a groupby in order to group the neighbourhoods together with a comma separation

In [62]:
df3 =full.groupby(['Postcode','Borough'])['Neighbourhood'].agg([('Neighbourhood', ', '.join)]).reset_index()

In [63]:
df3.head(20)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
14      M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
15      M1W  Scarborough                                    L'Amoreaux West
16      M1X  Scarborough                                        Upper Rouge
17      M2H   North York                                  Hillcrest Village
18      M2J   North York                       Fairview, Henry Farm, Oriole
19      M2K   North York                                    Bayview Village

In [66]:
df3.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Run a shape function

In [65]:
df3.shape

(103, 3)