# Coursera Applied Data Science: Course 4 Week3 Part1

NOTE TO MARKER

I have added the code below I would have used to collect from Web through BeautifulSoup - commented
Due to my company firewall, I am not able to do this, so I used the alternatie of read_csv

In [23]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

#url_to_scrape = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#r = requests.get(url_to_scrape)
#soup = BeautifulSoup(r.text)

In [25]:
#Create Dataframe

In [17]:
import pandas as pd
df = pd.read_csv('Wikipage.csv')
df.head(12)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
9       M8A      Not assigned      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge

Delete the values where Borough is not assigned

In [18]:
df1 = df['Borough'] != 'Not assigned'
df1.head()

0    False
1    False
2     True
3     True
4     True
Name: Borough, dtype: bool

In [19]:
df1 = df[df['Borough'] != 'Not assigned']
df1.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

Find all where Neighbourhood is assigned or not and recreate the ones that are not assigned

In [20]:
dfpop = df1[df1['Neighbourhood'] != 'Not assigned']
dfnot = df1[df1['Neighbourhood'] == 'Not assigned']

In [21]:
dfpop.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [22]:
dfnot

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

In [23]:
dfnot['Neighbourhood'] =='Queen\'s Park'

8    False
Name: Neighbourhood, dtype: bool

In [24]:
dfnow = dfnot.replace(to_replace ="Not assigned", 
                 value ="Queen\'s Park")

In [25]:
full = dfnow.append(dfpop)

In [26]:
full.head()

  Postcode           Borough     Neighbourhood
8      M7A      Queen's Park      Queen's Park
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park

Do a groupby in order to group the neighbourhoods together with a comma separation

In [27]:
df3 =full.groupby(['Postcode','Borough'])['Neighbourhood'].agg([('Neighbourhood', ', '.join)]).reset_index()

In [35]:
df3.head(20)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
14      M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
15      M1W  Scarborough                                    L'Amoreaux West
16      M1X  Scarborough                                        Upper Rouge
17      M2H   North York                                  Hillcrest Village
18      M2J   North York                       Fairview, Henry Farm, Oriole
19      M2K   North York                                    Bayview Village

In [30]:
df3.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Run a shape function

In [31]:
df3.shape

(103, 3)

# Coursera Applied Data Science: Course 4 Week3 Part2

In [32]:
import pandas as pd
geo = pd.read_csv('Geospatial_Coordinates.csv')
geo.head(12)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304
11         M1R  43.750072 -79.295849

In [85]:
base1=pd.merge(df3, geo, left_on='Postcode', right_on='Postal Code', how='left')
base1.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [86]:
base1[base1['Borough'].str.contains('Toronto')]

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
37,M4E,East Toronto,The Beaches,M4E,43.676357,-79.293031
41,M4K,East Toronto,"The Danforth West, Riverdale",M4K,43.679557,-79.352188
42,M4L,East Toronto,"The Beaches West, India Bazaar",M4L,43.668999,-79.315572
43,M4M,East Toronto,Studio District,M4M,43.659526,-79.340923
44,M4N,Central Toronto,Lawrence Park,M4N,43.728020,-79.388790
45,M4P,Central Toronto,Davisville North,M4P,43.712751,-79.390197
46,M4R,Central Toronto,North Toronto West,M4R,43.715383,-79.405678
47,M4S,Central Toronto,Davisville,M4S,43.704324,-79.388790
48,M4T,Central Toronto,"Moore Park, Summerhill East",M4T,43.689574,-79.383160
49,M4V,Central Toronto,"Deer Park, Forest Hill SE, Rathnelly, South Hi...",M4V,43.686412,-79.400049
50,M4W,Downtown Toronto,Rosedale,M4W,43.679563,-79.377529
51,M4X,Downtown Toronto,"Cabbagetown, St. James Town",M4X,43.667967,-79.367675
52,M4Y,Downtown Toronto,Church and Wellesley,M4Y,43.665860,-79.383160
53,M5A,Downtown Toronto,"Harbourfront, Regent Park",M5A,43.654260,-79.360636
54,M5B,Downtown Toronto,"Ryerson, Garden District",M5B,43.657162,-79.378937
55,M5C,Downtown Toronto,St. James Town,M5C,43.651494,-79.375418
56,M5E,Downtown Toronto,Berczy Park,M5E,43.644771,-79.373306
57,M5G,Downtown Toronto,Central Bay Street,M5G,43.657952,-79.387383
58,M5H,Downtown Toronto,"Adelaide, King, Richmond",M5H,43.650571,-79.384568
59,M5J,Downtown Toronto,"Harbourfront East, Toronto Islands, Union Station",M5J,43.640816,-79.381752
60,M5K,Downtown Toronto,"Design Exchange, Toronto Dominion Centre",M5K,43.647177,-79.381576
61,M5L,Downtown Toronto,"Commerce Court, Victoria Hotel",M5L,43.648198,-79.379817
63,M5N,Central Toronto,Roselawn,M5N,43.711695,-79.416936
64,M5P,Central Toronto,"Forest Hill North, Forest Hill West",M5P,43.696948,-79.411307
65,M5R,Central Toronto,"The Annex, North Midtown, Yorkville",M5R,43.672710,-79.405678
66,M5S,Downtown Toronto,"Harbord, University of Toronto",M5S,43.662696,-79.400049
67,M5T,Downtown Toronto,"Chinatown, Grange Park, Kensington Market",M5T,43.653206,-79.400049
68,M5V,Downtown Toronto,"CN Tower, Bathurst Quay, Island airport, Harbo...",M5V,43.628947,-79.394420
69,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade,M5W,43.646435,-79.374846
70,M5X,Downtown Toronto,"First Canadian Place, Underground city",M5X,43.648429,-79.382280
75,M6G,Downtown Toronto,Christie,M6G,43.669542,-79.422564
76,M6H,West Toronto,"Dovercourt Village, Dufferin",M6H,43.669005,-79.442259
77,M6J,West Toronto,"Little Portugal, Trinity",M6J,43.647927,-79.419750
78,M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village",M6K,43.636847,-79.428191
82,M6P,West Toronto,"High Park, The Junction South",M6P,43.661608,-79.464763
83,M6R,West Toronto,"Parkdale, Roncesvalles",M6R,43.648960,-79.456325
84,M6S,West Toronto,"Runnymede, Swansea",M6S,43.651571,-79.484450
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,M7Y,43.662744,-79.321558